<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stninfo.stn_board_backend.repository.comment.CommentRepository">

    <select id="getCommentByBoardIdx" parameterType="java.lang.Integer" resultType="stninfo.stn_board_backend.dto.CommentVO">
        SELECT idx, boardIdx, comment, pwd, DATE_FORMAT(createAt, '%Y년%m월%d일 %H시%i분%S초') createAt
        FROM stn_board_comment
        WHERE boardIdx = #{boardIdx}
        ORDER BY createAt DESC;
    </select>

    <select id="getCommentByIdx" parameterType="java.lang.Integer" resultType="stninfo.stn_board_backend.dto.CommentVO">
        SELECT idx, boardIdx, comment, pwd, DATE_FORMAT(createAt, '%Y년%m월%d일 %H시%i분%S초') createAt
        FROM stn_board_comment
        WHERE idx = #{idx}
        ORDER BY createAt DESC;
    </select>

    <update id="updateComment">
        update stn_board_comment set comment = #{comment} where idx = #{idx}
    </update>



    <delete id="deleteCommentByIdx" parameterType="java.lang.Integer">
        DELETE FROM stn_board_comment
        WHERE idx = #{idx};
    </delete>


    <insert id="insertComment" parameterType="stninfo.stn_board_backend.dto.Comment">
        INSERT INTO stn_board_comment (boardIdx, comment, pwd, createAt)
        VALUES (#{boardIdx}, #{comment}, #{pwd}, NOW());
    </insert>

    <select id="getPasswordByCommentIdx">
        select pwd from stn_board_comment where idx = #{idx}
    </select>

</mapper>
